.blog-post {
  border: 2px outset crimson;
  border-radius: 10px;
  margin: 30px 40px;
  padding: 0 10px;

  .blog-post-title {
    color: darkorange;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
  }

  .blog-post-date-wrapper {
    display: inline-table;
    font-weight: bold;
    font-size: smaller;
    width: 250px;

    .blog-post-date {
      color: olive;
    }
  }

  .blog-post-tags-wrapper {
    font-size: smaller;
    font-weight: bold;
    margin-top: 5px;

    a {
      text-decoration: none;
    }

    .blog-post-tags {
      color: olive;
      margin-right: 5px;
    }
  }

  .blog-post-content-container {

    min-height: 222px;
    margin-top: 20px;

    .blog-post-image {
      float: left;
      height: 222px;
      margin-right: 10px;
    }
  }
}