.blog-post {
  margin: 30px 40px;
  border-radius: 10px;
  border: 2px outset crimson;
  padding: 0 10px;

  .blog-post-title {
    font-size: 22px;
    font-weight: bold;
    color: darkorange;
    padding-top: 10px;
  }

  .blog-post-date-wrapper {
    display: inline-table;
    font-weight: bold;
    font-size: smaller;
    width: 250px;

    .blog-post-date {
      color: olive;
    }
  }

  .blog-post-tags-wrapper {
    margin-top: 5px;
    font-weight: bold;
    font-size: smaller;

    a {
      text-decoration: none;
    }

    .blog-post-tags {
      color: olive;
      margin-right: 5px;
    }
  }

  .blog-post-content {
    margin-top: 20px;
  }

  .blog-post-image {
    margin-top: 20px;
    padding-bottom: 10px;
    height: 600px;
  }
}