{% load sass_tags compress %}

{% compress css %}
    <link rel="stylesheet" href="{% sass_src 'blog_post/css/blog_post.scss' %}" type="text/x-scss" charset="utf-8">
{% endcompress %}

{% block content %}
    <div id="blog-post-{{ post.pk }}" class="blog-post">
        <div class="blog-post-title">{{ post.title }}</div>
        <div class="blog-post-date-wrapper">
            <div class="blog-post-date-label">created on:</div>
            <div class="blog-post-date">{{ post.created_on }}</div>
        </div>
        <div class="blog-post-date-wrapper">
            <div class="blog-post-date-label">edited on:</div>
            <div class="blog-post-date">{{ post.last_edited_on }}</div>
        </div>
        <div class="blog-post-tags-wrapper">
            <div class="blog-post-tags-label">tags:</div>
            <div class="blog-post-tags">{{ post.tags }}</div>
        </div>
        <div class="blog-post-content">{{ post.content }}</div>
        {% if post.image %}
            <img id="image-{{ post.pk }}" class="blog-post-image" src="{{media_url}}{{ post.image }}">
        {% endif %}
        <br/>
    </div>
{% endblock %}