{% load compress sass_tags %}

{% compress css %}
    <link rel="stylesheet" href="{% sass_src 'blog_post/css/blog_post.scss' %}" type="text/x-scss" charset="utf-8">
{% endcompress %}

{% block content %}
    <div id="blog-post-{{ post.pk }}" class="blog-post">
        <div class="blog-post-title">{{ post.title }}</div>
        <div class="blog-post-date-wrapper">
            <div class="blog-post-date-label">created on:</div>
            <div class="blog-post-date">{{ post.created_on }}</div>
        </div>
        <div class="blog-post-date-wrapper">
            <div class="blog-post-date-label">edited on:</div>
            <div class="blog-post-date">{{ post.last_edited_on }}</div>
        </div>
        <div class="blog-post-tags-wrapper">
            <div class="blog-post-tags-label">tags:</div>
            {% for id, name in post.full_tags.items %}
                {% if id == 0 %}
                    <a href="{% url 'blog_posts:blog_posts_view' %}"><span class="blog-post-tags">{{ name }}</span></a>
                {% else %}
                    <a href="{% url 'family_member_related' id %}"><span class="blog-post-tags">{{ name }}</span></a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="blog-post-content-container">
            {% if post.image %}
                <img id="image-{{ post.pk }}" class="blog-post-image" src="{{media_url}}{{ post.image }}">
            {% endif %}
            <div class="blog-post-content">{{ post.display_content|safe }}</div>
        </div>
    </div>
{% endblock %}