{% extends "noleluna/index.html" %}
{% load compress sass_tags %}

{% block css_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% sass_src 'blog_post/css/dashboard.scss' %}" type="text/x-scss" charset="utf-8">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="summary-message">
        {% if index_page %}
            <div>Hey, {{ user|capfirst }}.</div>
            <div>The index page will display only a couple of the latest published posts about Samardzic family. For all of the posts go to our <a href="{% url 'blog_posts:blog_posts_view' %}">blog</a></div>
        {% elif posts|length > 0 %}
            <div>Hey, {{ user|capfirst }}.</div>
            <div>There {{ posts|length|pluralize:"is,are" }} {{ posts|length }} published post{{ posts|length|pluralize }} about Samardzic family:</div>
        {% else %}
            Sorry, {{ user|capfirst }}. There are no published posts about Samardzic family.
        {% endif %}
    </div>
    {% for post in posts %}
        {% include "blog_post/blog_post.html" %}
    {% endfor %}
{% endblock %}
