.bio-wrapper {
  margin: 30px;

  .left-bio {
    float: left;
    padding-right: 20px;
    width: 50%;

    .bio-item-greet {
      color: firebrick;
      font-size: 22px;
      font-weight: bold;
    }

    .bio-item {
      color: steelblue;
      font-size: 20px;
    }
  }

  .right-bio {
    float: right;
    width: 50%;
  }
}
