{% extends "noleluna/index.html" %}
{% load static compress %}

{% block css_head %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js_head %}
    {{ block.super }}
    {% compress js %}
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="opportunity-cta">
        {% if blog_posts|length > 0 %}
            Hey, {{ user|capfirst }}! There {{ blog_posts|length|pluralize:"is,are" }} {{ blog_posts|length }} blog post{{ blog_posts|length|pluralize }} about Samardzic family:
        {% else %}
            Sorry {{ user|capfirst }}, no blog posts about Samardzic family.
        {% endif %}
    </div>
    {% for blog_post in blog_posts %}
        {% include "./post.html" %}
    {% endfor %}
{% endblock %}
