{% load static sass_tags compress %}
{% load custom_tags %}

{% block css_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    {% compress css %}
        <link href="{% sass_src 'noleluna/css/style.scss' %}" rel="stylesheet" type="text/x-scss" charset="utf-8"/>
        <link href="{% sass_src 'noleluna/css/index.scss' %}" rel="stylesheet" type="text/x-scss" charset="utf-8"/>
    {% endcompress %}
{% endblock %}

{% block js_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

<div id="main">
    <div id="topnav">
        <div class="container-fluid">
            <div id="topnav-logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'noleluna/img/noleluna.png' %}" alt="Logo"/>
                </a>
            </div>
            <div id="topnav-bar">
                <div class="family-member pull-right">
                    <div id="image-container">
                        <a href="{% url 'index' %}"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">
                            {% if family_member_id %}
                                {% with "noleluna/img/"|add:family_member_id|add:".png" as image_src %}
                                    <img id="profile-image" src="{% static image_src %}" alt="Face"/><span class="down-caret"></span>
                                {% endwith %}
                            {% else %}
                                <img id="profile-image" src="{% static 'noleluna/img/0.png' %}" alt="Face"/><span class="down-caret"></span>
                            {%endif %}
                        </a>
                        {% if family_member_id %}
                        <ul class="member-options dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{% url 'family_member' family_member_id %}">Bio</a>
                            </li>
                            <li>
                                <a href="{% url 'family_member_related' family_member_id %}">Related Posts</a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="member-options dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{% url 'family_member' 20110913 %}">Novak</a>
                            </li>
                            <li>
                                <a href="{% url 'family_member' 20150102 %}">Luna</a>
                            </li>
                            <li>
                                <a href="{% url 'family_member' 19760525 %}">Svetlana</a>
                            </li>
                            <li>
                                <a href="{% url 'family_member' 19760702 %}">Nenad</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="leftnav-n-content">
        <div id="leftnav">
            <ul id="leftnav-list">
                <li>
                    <a href="{% url 'blog_posts:blog_posts_view' %}">
                        <div>Blog</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'family_member' 20110913 %}">
                        <div>Novak</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'family_member' 20150102 %}">
                        <div>Luna</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'family_member' 19760525 %}">
                        <div>Svetlana</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'family_member' 19760702 %}">
                        <div>Nenad</div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>