{% load static sass_tags compress %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
{% compress css %}
    <link href="{% sass_src 'noleluna/style.scss' %}" rel="stylesheet" type="text/x-scss" charset="utf-8"/>
    <link href="{% sass_src 'noleluna/index.scss' %}" rel="stylesheet" type="text/x-scss" charset="utf-8"/>
{% endcompress %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div id="main">
    <div id="topnav">
        <div class="container-fluid">
            <div id="topnav-logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'noleluna/img/noleluna.png' %}" alt="Logo"/>
                </a>
            </div>
            <div id="topnav-bar">
                <div class="family-member pull-right">
                    <div id="image-container">
                        <a href="{% url 'index' %}"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">
                            <img id="profile-image"
                                 src="{% static 'noleluna/img/neno.png' %}"
                                 alt="Face"/><span class="down-caret"></span>
                        </a>
                        <ul class="member-options dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'index' %}">Mugshot</a></li>
                            <li><a href="{% url 'index' %}">Bio</a></li>
                            <li><a href="{% url 'index' %}">Something else</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="leftnav-n-content">
        <div id="leftnav">
            <ul id="leftnav-list">
                <li>
                    <a href="{% url 'index' %}">
                        <div>Blog</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <div>Nole</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <div>Luna</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <div>Ceca</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <div>Neno</div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="content">
        </div>
    </div>

</div>