{% extends "noleluna/index.html" %}
{% load sass_tags compress %}

{% block css_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% sass_src 'noleluna/css/related.scss' %}" type="text/x-scss" charset="utf-8">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="else">
        <div>Hey, {{ user|capfirst }}.</div>
        <div>There {{ posts|length|pluralize:"is,are" }} {{ posts|length }} published post{{ posts|length|pluralize }} about {{family_member_first}}:</div>
    </div>
    {% for post in posts %}
        {% include "blog_post/blog_post.html" %}
    {% endfor %}
{% endblock %}
